.left-pane{
  background: url(/assets/bitmaker-pres.jpg) no-repeat; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 50%;
   vertical-align: top;
   padding-top: 80%;
  
  @include media($medium-screen-up){
    padding-top: 40%;
  }

  @include media($large-screen-up){
   background: url(/assets/bitmaker-pres.jpg) no-repeat; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
  width: 40%;
  height: 100%;
  float: left;
  position: fixed;
  margin: 0;
  padding: 0;
  }
}

.right-pane {
  background-color: $gray;
  padding: 2% 10%;
  @include media($large-screen-up){
  float: right;
  width: 60%;
  height: 100%;
  }
}

.pane-content h1{
  font-size: 2.5em;
  color: $orange;
  text-decoration: none;
}

.tagline p {
    color: $blue;
  }


