body {
    margin: 0;
    padding: 0;
}

.site-nav {
    background-color: $blue;
    z-index: 100; 
    width: 100%;
    padding-bottom: 20px;
    @include media($medium-screen-up){
      height: $nav-height;  
    }
    @include media($large-screen-up){
    position: absolute;
    bottom: 0;
    }
}

.site-nav a { 
font-size:1em;
display: inline;
font-weight: bold;
color: $gray;
@include media($medium-screen-up){
font-size: 1.5em;
padding-right: 15px;
 }
}
.site-nav a:hover{
    color: $orange;
}

.trigger {
    text-align: center;
    padding-top: 15px;
}