.page-list-item {
  margin-top: 1em;
  font-size: 2em;
  color: $gray2;
  a {
    &:hover,
      &:focus {
    color: $blue;
   }
  }
}

.blog-left-pane{
  background: url(/assets/week-4.jpg) no-repeat; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 50%;
   vertical-align: top;
   padding-top: 80%;
  
  @include media($medium-screen-up){
    padding-top: 40%;
  }

  @include media($large-screen-up){
  width: 40%;
  height: 100%;
  float: left;
  position: fixed;
  margin: 0;
  padding: 0;
  }
}

.work-left-pane{
  background: url(/assets/javscript.png) no-repeat; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 50%;
   vertical-align: top;
   padding-top: 80%;
  
  @include media($medium-screen-up){
    padding-top: 40%;
  }

  @include media($large-screen-up){
  width: 40%;
  height: 100%;
  float: left;
  position: fixed;
  margin: 0;
  padding: 0;
  }
}