.image-description{
  padding-top: 25px;
  font-size: 1.2em;
  color: $gray2;
}

.collection-title {
    color: #6e6e6e;
    font-size: 1.9em;
    padding-top: 14%;
}

.post-title{
  text-align: left;
  text-decoration: none;
  padding-bottom: 5%;
  color: $gray2;
}

.trudeau-left-pane{
    background: url(/assets/trudeau-2015.jpg) no-repeat center center; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 50%;
   vertical-align: top;
   padding-top: 80%;
  
  @include media($medium-screen-up){
    padding-top: 40%;
  }

  @include media($large-screen-up){
  width: 40%;
  height: 100%;
  float: left;
  position: fixed;
  margin: 0;
  padding: 0;
  }
}

 
 .trudeau-right-pane{ 
  background-color: $gray;
  padding: 2% 10%;
  @include media($large-screen-up){
  float: right;
  width: 60%;
  height: 100%;
  } 
}

.post-header h2{
  color: $gray2;
  font-size: 4.75em;
  text-transform: uppercase;
}

