---
layout: default
---
<div class="post">

  <header class="post-header">
    <h3>{{ page.title }}</h3>

    {% if page.title =="Acro Buddhas" or page.title =="Souschef" %}

    <p> {{ page.excerpt }} </p>

    <p class="image-description"> {{ page.image_description }}</p>
    <img class="post-image" src="{{ page.image }}">
    <p class="image-description"> {{ page.image_2_description }}</p>
    <img class="post-image" src="{{ page.image_2 }}">
    <p class="image-description"> {{ page.image_3_description }}</p>
    <img class="post-image" src="{{ page.image_3 }}">
    <p class="image-description"> {{ page.image_4_description }} </p>
    <img class="post-image" src="{{ page.image_4 }}">

    {% endif %}
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
